$color-active-btn: rgb(48, 163, 235)

.Calculator 
  margin: 0 auto
  width: 300px
  border: 1px solid rebeccapurple
  display: flex
  flex-direction: column
  padding: 10px
  background: rgb(98, 98, 119)
  border-radius: 5px
  

.btn_wrapper
  display: flex
  flex-direction: column

.block_btn
  display: flex
  justify-content: space-between

.number,
.operators,
.delete_value,
.plus_minus,
.result
  display: flex
  flex: 1
  margin: 10px
  height: 40px
  width: 30px
  background: lightskyblue
  border: 1px solid rgb(32, 163, 245)
  border-radius: 5px
  font-size: 24px
  justify-content: center

.input_value_calculate
  margin: 10px
  height: 50px
  text-align: right
  font-size: 32px

.delete_value
  display: flex
  flex: 5
  justify-content: flex-end

.number:active 
  background: $color-active-btn

.operators:active 
  background: $color-active-btn

.delete_value:active 
  background: $color-active-btn

.result:active 
  background: $color-active-btn

.plus_minus:active 
  background: $color-active-btn
